.parentPane {
    -fx-background-color: #495562;
}

.mediumWhiteLabel {
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.mediumWhiteTextField {

    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-background-radius: 10;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.buttonStyle {
    -fx-background-color: #536579;
    -fx-background-insets: 0, 1, 4, 5, 6;
    -fx-background-radius: 9, 8, 5, 4, 3;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(255, 255, 255, 0.2), 1, 0.0, 0, 1);
}

.buttonStyle:hover {
    -fx-background-color: #667485;
}

.errorLabel {
    -fx-text-fill: red;
    -fx-font-weight: bold;
}

.errorField {
    -fx-background-color: rgba(255, 0, 0, 0.2);
    -fx-border-color: red;
}

.text-area {
    -fx-control-inner-background: #3a444e;;
    -fx-border-radius: 10;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-prompt-text-fill: #b2b2a3;
}

.table-view {
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header {
    -fx-alignment: CENTER;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd {
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell {
    -fx-border-color: transparent;
    -fx-table-cell-border-color: transparent;
}

.column-header {
    -fx-background-color: derive(#7c8093, 50%);
    -fx-font-weight: bold;
    -fx-border-color: #727272;
    -fx-font-size: 16px;
}

TableView {
    -fx-accent: #1e74c6;
    -fx-focus-color: -fx-accent;
    -fx-base: #5e646e;
    -fx-control-inner-background: derive(-fx-base, 35%);
    -fx-control-inner-background-alt: -fx-control-inner-background;
}

.table-row-cell:selected {
    -fx-background-color: #4c5e6c;
}

.separator *.line {
    -fx-border-color: gray;
    -fx-border-style: solid;
    -fx-border-width: 1px;

}

.combo-box .list-cell {
    -fx-text-fill: white;
}

.combo-box-popup .list-view {
    -fx-background-color: #3a444e;
}

.combo-box-popup .list-view .list-cell {
    -fx-background-color: #4d5965;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #3c4652;
}

.date-picker .text-field {
    -fx-control-inner-background: #3a444e;
    -fx-font-size: 16px;
}

.date-picker-popup {
    -fx-control-inner-background: #3a444e;
}

.date-picker-popup .date-picker-content {
    -fx-background-color: red;
}

.calendar-grid {
    -fx-background-color: #1d1d1d ;
}

.date-picker-popup > * > .day-name-cell {
    -fx-text-fill: white;

}
.date-picker-popup > .month-year-pane {
    -fx-base: #1d1d1d ;
    -fx-mark-highlight-color: -fx-light-text-color ;
}
