.menuButton {
    -fx-background-color: #FFF;
    -fx-background-radius: 5;
}

.transparent {
    -fx-background-color: transparent;
}

.hoverButton:hover {
    -fx-background-color: #b6cade;
}

.selected {
    -fx-background-color: #84aece;
}

Button {
    -fx-cursor: hand;
}

.mainColor {
    -fx-background-color: #333;
}

.configStyle {
    -fx-border-color: #FFF;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-text-fill: #FFF;
}

.configTextField {
    -fx-background-color: #6D6469;
}

.configHover:hover {
    -fx-background-color: #646D68;
}

.searchBoxParent {
    -fx-background-color: #FFF;
    -fx-background-radius: 50;
}

.searchButton {
    -fx-background-color: #707070;
    -fx-background-radius: 20 0 0 20;
}

.searchButton:focused {
    -fx-background-radius: 20 0 0 20;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
}

.separator *.line {
    -fx-border-style: solid;
    -fx-border-width: 1px;
}

.scroll-bar{
    -fx-background-color: derive(-fx-base,45%)
}


.table-view{
    -fx-selection-bar-non-focused: derive(-fx-base, 50%);
}

.table-view .column-header{
    -fx-alignment: CENTER;
    -fx-font-weight: none;
}

.list-cell:even,
.list-cell:odd,
.table-row-cell:even,
.table-row-cell:odd{
    -fx-control-inner-background: derive(-fx-base, 15%);
}

.list-cell:empty,
.table-row-cell:empty {
    -fx-background-color: transparent;
}

.list-cell,
.table-row-cell{
    -fx-border-color: transparent;
    -fx-table-cell-border-color:transparent;
}

.column-header {
    -fx-background-color: derive(#525252, 50%);
    -fx-font-weight: bold;
    -fx-border-color: #727272;
    -fx-font-size: 16px;
}