.menuButton {
    -fx-background-color: #FFF;
    -fx-background-radius: 5;
}

.transparent {
    -fx-background-color: transparent;
}

.hoverButton:hover {
    -fx-background-color: #b6cade;
}

.selected {
    -fx-background-color: #84aece;
}

Button {
    -fx-cursor: hand;
}

.mainColor {
    -fx-background-color: #333;
}

.configStyle {
    -fx-border-color: #FFF;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-color: transparent;
    -fx-text-fill: #FFF;
}

.configTextField {
    -fx-background-color: #6D6469;
}

.configHover:hover {
    -fx-background-color: #646D68;
}

.searchBoxParent {
    -fx-background-color: #FFF;
    -fx-background-radius: 50;
}
